@model SearchVM
@{
    ViewBag.Title = "Search";
}
<br /><br />
<div class="container">
    @{
        var opt = new AjaxOptions();
        opt.OnSuccess = "UpdateResult";
    }
    @using (Ajax.BeginForm("Search", "Home", opt, new { @class = "form-inline" } ))
    {
        @Html.TextBoxFor(x => x.CityFrom, new { @class = "form-control", placeholder = "откуда" })
        @Html.TextBoxFor(x => x.CityTo, new { @class = "form-control", placeholder = "куда" })
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", placeholder = "когда?", type = "date", @Value = Model.Date.ToString("yyyy-MM-dd") })
        @Html.TextBoxFor(x => x.DateBack, new { @class = "form-control", placeholder = "когда обратно?", type = "date", @Value = Model.DateBack.ToString("yyyy-MM-dd") })
        <input type="submit" value="Поиск" />
    }

    <hr />

    <div id="result">
    </div>
</div>

<script type="text/javascript">
    function UpdateResult(responce) {
        $("#result").empty();

        if (responce.result) {
            var data = responce.result;
            var s = [];
            s.push("<div>Цена: " + data.Price + "</div>");
            s.push("<div>Авиакомпания: " + data.Airline + "</div>");
            s.push("<div>Отправление: " + data.Date + "</div>");
            s.push("<div>Обратно: " + data.DateBack + "</div>");
            s.push("<div><a href=" + data.Url + " target='_blank'>Постмотреть страницу</a></div>");
            $("#result").append(s.join(""));
        }
        else {
            $("#result").html(responce.msg);
        }
    }
</script>